node_modules/

# Config files
.eslintrc.js
.prettierrc
eslint.config.mjs
.gitignore
.git/

# Docker related files
.dockerignore

# IDE-specific files
.vscode/

# Build output
dist/

# Test files
test/