<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unshortify</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>Unshortify</h2>
    <p>
      Hit enter or click bypass to bypass the URL.
      <br />Sometimes it helps to try again on failure.
      <br />It can take a while for the result to appear after submission.
    </p>
    <form id="bypass-form">
      <input
        type="text"
        name="url"
        id="url-input"
        placeholder="https://"
        required
      />
      <div class="cf-turnstile" data-sitekey={{captchaSiteKey}}></div>
      <button type="submit">Bypass</button>
      <button type="button" id="clear-btn">Clear</button>
    </form>
    <div id="results-container">
      <div>
        <p>Results :</p>
        <ul id="output-list"></ul>
      </div>
      <div>
        <p>Supported Services:</p>
        <ul id="supported-services-list"></ul>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>